{% include 'recipes/partials/head.html' %}

<body>
    {% include 'recipes/partials/header.html' %}
    {% include 'recipes/partials/search.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            <div class="recipe recipe-list-item">
                <div class="recipes-cover">
                    <img src="https://via.placeholder.com/1220X720.png/269fe6" alt="Temporário">
                </div>
                <h1>oi</h1>
            </div>
            
        </div>
    </main>
</body>

</html>